<!DOCTYPE html>
<html lang="sq">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

<app-header></app-header>

<main class="profile-main" *ngIf="worker">
  <div class="container profile-grid">

    <section class="profile-content">

      <article class="bio-section card-like">
        <div class="profile-intro">
          <div class="avatar">
            <img [src]="worker.photo ? 'http://localhost:8080/uploads/' + worker.photo : 'http://localhost:8080/uploads/default-avatar.jpg'"
                 alt="{{worker.firstName}}"
                 class="avatar__img">
          </div>

          <div>
            <h1>{{ worker.firstName }} {{ worker.lastName }}</h1>
            <p class="headline">
              {{ professionList.join(' , ') }}
            </p>
            <p class="location-profile">
              {{ worker.location?.name || 'Unknown' }}
            </p>
          </div>
        </div>

        <h2>Bio</h2>
        <p class="long-description">{{ worker.aboutYou || 'No bio available.' }}</p>

      </article>

    </section>

    <aside class="profile-sidebar card-like">
      <div class="stat-group">
        <h5>Compensation</h5>
        <p><strong>{{ worker.compensation?.compensation || 'N/A' }}</strong></p>
      </div>

      <div class="stat-group">
        <h5>Professions</h5>
        <div class="skill-tags">
          <span *ngFor="let p of professionList">{{ p }}</span>
        </div>
      </div>

      <div class="stat-group">
        <h5>Skills</h5>
        <div class="skill-tags">
          <span *ngFor="let s of skillList">{{ s }}</span>
        </div>
      </div>

      <div class="stat-group">
        <h5>Education</h5>
        <p><strong>{{ worker.education?.education || 'N/A' }}</strong></p>
      </div>

      <div class="stat-group">
        <h5>Experience Level</h5>
        <p><strong>{{ worker.experience?.experience || 'N/A' }}</strong></p>
      </div>

      <div class="stat-group">
        <h5>Availability</h5>
        <div class="skill-tags">
          <span>{{ worker.availability?.availability || 'N/A' }}</span>
        </div>
      </div>

      <div class="stat-group">
        <h5>Job Type</h5>
        <div class="skill-tags">
          <span *ngFor="let j of jobTypeList">{{ j }}</span>
        </div>
      </div>

    </aside>
  </div>
</main>

<app-footer></app-footer>


</body>
</html>
