<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Edit Profile • HireBasis</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

<app-header></app-header>

<main class="wrap">
  <aside class="left">
    <section class="card profile-card">
      <div class="avatar">
        <div class="avatar__img" aria-hidden="true">
          <img *ngIf="employer?.companyLogo" [src]="'http://localhost:8080/uploads/' + employer.companyLogo" alt="Company Logo">
        </div>
      </div>

      <h1 class="name">{{ employer.companyName }}</h1>

      <div class="loc">
        <i class="fa-solid fa-location-dot"></i>
        <span>{{ employerLocationName }}</span>
      </div>
    </section>
  </aside>

  <section class="right">
    <div class="head">
      <h2>Edit Profile</h2>
      <button class="btn btn--ghost" [routerLink]="'/employer-profile'">
        <i class="fa-solid fa-backward"></i> Go back
      </button>
    </div>

    <div class="tabs card">
      <input type="radio" name="tab" id="t1" checked>
      <input type="radio" name="tab" id="t2">
      <input type="radio" name="tab" id="t3">

      <nav class="tablist">
        <label class="tab" for="t1">Account</label>
        <label class="tab" for="t2">Company Info</label>
        <label class="tab" for="t3">Job Application</label>
      </nav>


      <div class="panel" data-panel="t1">
        <div class="form-row">
          <label>Email <span class="req">*</span></label>
          <input type="email" class="input" [(ngModel)]="employer.email">
        </div>

        <button class="btn" (click)="deleteEmployer()" style="background-color: red">
          <i class="fa-solid fa-trash"></i>
          Deactivate profile
        </button>
      </div>

      <div class="panel" data-panel="t2">
        <div class="form-row">
          <label>Company Name <span class="req">*</span></label>
          <input type="text" class="input" [(ngModel)]="employer.companyName">
        </div>

        <div class="form-row">
          <label>Company Logo</label>
          <input type="file" (change)="onLogoSelected($event)">
        </div>

        <div class="form-row">
          <label>Location</label>
          <select [(ngModel)]="employer.locationId" name="locationId">
            <option *ngFor="let loc of location" [value]="loc.id">
              {{ loc.name }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Number Of Employees</label>
          <select [(ngModel)]="employer.numberOfEmployeesId" name="numberOfEmployeesId">
            <option *ngFor="let number of numberOfEmployees" [value]="number.id">
              {{ number.numberOfEmployees }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Industry</label>
          <select [(ngModel)]="employer.industryId" name="industryId">
            <option *ngFor="let industry of industry" [value]="industry.id">
              {{ industry.name }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Employer Type</label>
          <select [(ngModel)]="employer.employerTypeId" name="employerTypeId">
            <option *ngFor="let type of employerType" [value]="type.id">
              {{ type.type }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Year of Founding</label>
          <input type="text" class="input" [(ngModel)]="employer.yearOfFounding">
        </div>

        <div class="form-row">
          <label>About Company</label>
          <textarea rows="6" [(ngModel)]="employer.aboutCompany"></textarea>
        </div>

        <div class="form-row">
          <label>Experience</label>
          <select [(ngModel)]="employer.experienceId" name="experienceId">
            <option *ngFor="let exp of experiences" [value]="exp.id">
              {{ exp.experience }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Availability</label>
          <select [(ngModel)]="employer.availabilityId" name="availabilityId">
            <option *ngFor="let av of availability" [value]="av.id">
              {{ av.availability }}
            </option>
          </select>
        </div>

        <div class="form-row">
          <label>Compensation</label>
          <select [(ngModel)]="employer.compensationId" name="compensationId">
            <option *ngFor="let comp of compensation" [value]="comp.id">
              {{ comp.compensation }}
            </option>
          </select>
        </div>

        <button class="btn" (click)="saveChanges()">
          <i class="fa-regular fa-floppy-disk"></i>
          Save Data
        </button>
      </div>

      <div class="panel" data-panel="t3">
        <p>No Job Alerts</p>
      </div>

    </div>
  </section>
</main>

<app-footer></app-footer>
</body>
</html>



